
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: firebrick;
}

header{
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    flex-wrap: wrap;
}

header img{
    display: flex;
    width: 30%;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li{
    color: white;
    text-decoration: none;
    display: flex;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    display: flex;
}

main h1{
    color: darkmagenta;
    background-color: black;
    text-align: center;
}

p{
    color: darkmagenta;
}


footer{
    text-align: center;
    flex-wrap: wrap;
}

footer p{
    color: turquoise;
}